apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: sqlflow-jhub
spec:
  selector:
    matchLabels:
      app: sqlflow-jhub
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sqlflow-jhub
    spec:
      volumes:
      - name: shared-data
        emptyDir: {}
      containers:
      - image: "tonyyang/sqlflow:jhub"
        name: sqlflow-jhub
        imagePullPolicy: Always
        command: ["jupyterhub"]
        args: ["--config", "/etc/jhub/jupyterhub_config.py"]
        ports:
        - containerPort: 8000
          hostPort: 8000
          name: sqlflow-jhub
        env:
        - name: GITHUB_CLIENT_ID
          value: ""
        - name: GITHUB_CLIENT_SECRET
          value: ""
        - name: OAUTH_CALLBACK_URL
          value: "http://play.sqlflow.org:8000/hub/oauth_callback"

---

apiVersion: v1
kind: Service
metadata:
  name: sqlflow-jhub-front
spec:
  type: LoadBalancer
  selector:
    app: sqlflow-jhub
  ports:
  - port: 8000

